/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-repeater-block {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}
.rep-block{
	max-width: 80%!important;
}
.column_struct{
	padding: 5%;
	background-color: darksalmon;
	display: flex;
	flex-wrap: wrap;
}
.block_item{
	padding: 0 20px;
}
.col-1 .block_item{
	width: 100%;
}
.col-2 .block_item{
	width: 50%;
}
.col-3 .block_item{
	width: 33.33%;
}
.col-4 .block_item{
	width: 25%;
}
.next{
	border: 1px solid red;
}
